div.content_block__wrap
    h2 SEO Review and Reccomendations
    ul.content_information
        li
            h6 Fixed:
            p Regular
        li
            h6 Budget:
            p $300
        li
            h6 Delivery:
            p Urgent
        li
            h6 Posted:
            p 12 minutes ago
        li
            h6 Ends:
            p 14d, 23h
        li
            h6: a(class="content_link--blue" href="") 0 Proposals
    p.content_text
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
        | dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        | ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        | fugiat nulla pariatur... more Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
        | deserunt mollit anim id est laborum...
        a(class="content_link--blue" href="") more
    ul.content_category-skills
        li
            h6 Category:
            p Search Engine
        li
            h6 Skills:
            ul.content_skills
                li .net-framework
                li рhp
                li google-maps-api
        li: a(class="content_link--blue" href="") 18 more
    ul.content_client-rate
        li
            h6 Client:
            p United states
        li.rating
            h6.rating_value 4.8
            div.rating_items__wrap
                svg.rating-item.active
                    use(href="static/img/svg/symbol/sprite.svg#rating_stars--rating_stars")
                svg.rating-item
                    use(href="static/img/svg/symbol/sprite.svg#rating_stars--rating_stars")
                svg.rating-item
                    use(href="static/img/svg/symbol/sprite.svg#rating_stars--rating_stars")
                svg.rating-item
                    use(href="static/img/svg/symbol/sprite.svg#rating_stars--rating_stars")
                svg.rating-item
                    use(href="static/img/svg/symbol/sprite.svg#rating_stars--rating_stars")