article.client_rating
    h5 Client Rating
    input(type="radio", id="any_stars", checked, name="rating")
    label(for = "any_stars") Any stars
    br
    input(type="radio", id="5_stars", name="rating")
    label(for = "5_stars")  5 stars
        span  (930)
    br
    input(type="radio", id="4.5_stars", name="rating")
    label(for = "4.5_stars")  4.5 stars and Up
        span  (2 591)
    br
    input(type="radio", id="4_stars", name="rating")
    label(for = "4_stars")  4 stars and Up
        span  (1 546)
    br
    input(type ="checkbox" id="freelancers", name="rating")
    label(for = "freelancers") Include unrated freelancers
        br
        span  (1 784)
    br