article.chose_subcategory
    h5 Chose Subcategory
    input(type="checkbox" id="all_subcategory", name="subcategory", checked)
    label(for ="all_subcategory")  All Subcategories
    br
    input(type="checkbox" id='data_entry', name="subcategory")
    label(for ="data_entry")  Data Entry
        span  (1 306)
    br
    input(type="checkbox" id='personal_assistant', name="subcategory")
    label(for ="personal_assistant")  Personal Assistant
        span  (1 907)
    br
    input(type="checkbox" id='web_research', name="subcategory")
    label(for ="web_research")  Web Research
        span  (972)
    br
    input(type="checkbox" id='email_response_handling', name="subcategory")
    label(for ="email_response_handling") Email Response Handling
        span  (80)
    br
    input(type="checkbox" id='transcription', name="subcategory")
    label(for ="transcription")  Transcription
        span  (307)
    br
    input(type="checkbox" id='other', name="subcategory")
    label(for ="other")  Other - Administrative support
    br