section.content_s
    div.content_s__wrap.container
        div.chose
            div.chose__wrap
                form(action="#" name="choose_form")
                    include ../particles/category
                    include ../particles/subcategory
                    include ../particles/rating
                    include ../particles/budget
                    include ../particles/delivery
                    include ../particles/location
        div.content_block
            include ../particles/content_block
            include ../particles/content_block
            include ../particles/content_block
            include ../particles/content_block


