doctype html
html(lang="ua=UA")
    head
        title Test
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(charset="utf-8")
        link(rel="stylesheet" type='text/css' href="static/css/main.css")
        link(rel="stylesheet" type='text/css' href="static/css/chosen.min.css")
    body
       include ../components/content
       include ../libs/scripts